@charset "utf-8";

.container {
    width: 1000px;
    margin: 0 auto;
}

/*清除浮动*/
.clear-fix::after {
    content: '';
    display: block;
    clear: both;

    /*兼容旧浏览器*/
    height: 0;
    visibility: hidden;
}

/*兼容IE6～7浏览器*/
.clear-fix {
    *zoom: 1;
}