@charset "utf-8";

#navigator {
    border-bottom: 1px solid #eaeaea;
    -webkit-box-shadow: 0 1px 1px #efefef;
    -moz-box-shadow: 0 1px 1px #efefef;
    box-shadow: 0 1px 1px #efefef;
}

#navigator .nav {
    height: 50px;
}